<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Bitcoin Button</title>
	<link rel="stylesheet" href="./base.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</head>

<body>

  <% @transactions.each do |t| %>
    <%= t[:time] + " <b>: &nbsp;" + t[:type] + "</b> &nbsp;" + t[:btc] + " BTC for $" + t[:usd] + " USD.<br />" %>
  <% end %>

  <% @@client.accounts.each do |a|%>
    <br />
    <b><%= a.name %> Balance: </b>

    <% if a.name == "BTC Wallet" %>
      $<%= (a.balance()['amount'].to_f * @@client.buy_price()["amount"].to_f).round(2) %>&nbsp;
      (<%= a.balance()['amount'] %> BTC)
    <% else %>
      $<%= a.balance()['amount'].to_f.round(2) %>
    <% end %>
  <% end %>

</body>
</html>


